<!--src/recipes/templates/recipes/recipes_detail.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #D9B99B;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #0B2838;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    </style>
</head>

<body>

    <h2>Recipe Details: {{object.name}}</h2>

    <b>Name: </b> {{object.name}} <br>

    <b>Cooking Time: </b> {{object.cooking_time}} <br>

    <b>Ingredients: </b> {{object.ingredients}} <br>

    <b> Difficulty: </b> {{object.difficulty}} <br>

    <img src="{{object.pic.url}}" width="250" height="300" />
</body>

</html>